@import 'tailwindcss';

@layer base {
  :root {
    --primary: #2629aa;
    --primary-hover: #5888f0;
    --text-primary: #000;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100vh;
  height: 100%;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

td {
  padding: 0.5rem;
}

th {
  padding: 0.5rem;
}
